#chuck-img {
    width: 100px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}

h1 {
    font-family: 'Vidaloka', serif;
    text-align: center;
    font-size: 1.75em;
    letter-spacing: .2em;
    display: inline-flex;
}

#avatar {
    width:75px;
    border-radius: 50%;
    background-color: pink;
}

