body {
    background-color: #EDEEC9;
    font-family: 'Vidaloka', serif;
}

h2 {
    text-align: center;
    letter-spacing: .2em;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.joke-card {
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    background-color: #98C9A3;
    border: 2px #7DD877 solid;
    border-radius: 3px;
    width: 250px;
    height: 250px;
    overflow: scroll;
    padding: 10px;
    margin: 5px;
    position: relative;
}

.favorite-heart {
    position: absolute;
    top: 0;
    left: 4px;
    color: #aaa;
    cursor: pointer;
    margin-bottom: 6px;
}

.favorite {
    color: #d82b87;
}

.hidden {
    display: none;
}